$primaryColor2: #14213D;

.summary{

    max-height: fit-content;

    h1{
        margin-bottom: 2rem;
    }


    textarea{
        min-height: 20px;
        min-width: 100%;
        text-align: justify;
        color: white;
        background-color: $primaryColor2;
        border: 1px solid $borderColor2;
        outline: none;

        &:focus{
            outline: none;
            border: 1px solid $borderColor2;
        }
    }
}

